:root {
  --vp-white: #ffffff;
  --vp-dark: #27293a;
  --vp-green: #84ad95;
  --vp-purple: #d31996;
  --vp-pink: #d293b5;
  --vp-blue: #626d84;
}
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* overflow: hidden; */
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
}
/* Dark Mode */
.dark-mode {
  background-color: var(--vp-dark);
  color: var(--vp-white);
  transition: 0.3s !important;
}
.light-mode {
  background-color: var(--vp-white) !important;
  color: var(--vp-blue) !important;
  transition: 0.3s !important;
}
.bg-dark-mode {
  background-color: var(--vp-blue);
  transition: 0.3s !important;
}
.bg-light-mode {
  background-color: var(--vp-blue) !important;
  transition: 0.3s !important;
}

/* /Dark Mode */

.portfolio__container {
  height: 100vh;
  overflow: hidden;
}
.section {
  position: absolute;
  bottom: 0;
  height: 4vh;
  width: 100%;
  transition: 0.5s;
  box-shadow: 0px -4px 5px #0000007e;
  /* overflow: hidden; */
}
.section__button {
  width: 100%;
  height: 100%;
  max-height: 8vh;
  text-align: right;
  padding-right: 2rem;
  font-size: 2rem;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 700;
}
.main {
  bottom: 16vh;
}
.profile {
  bottom: 12vh;
  background-color: var(--vp-purple);
}
.dev {
  bottom: 8vh;
  background-color: var(--vp-pink);
}
.art {
  bottom: 4vh;
  background-color: var(--vp-green);
}
.contact {
  bottom: 0vh;
  background-color: var(--vp-blue);
}
.active {
  height: 84vh !important;
}
.main-top {
  top: 0vh !important;
    height: 8vh;
  /* transform: translateY(0vh) !important; */
}
.profile-top {
  top: 4vh !important;
  height: 8vh;
  /* transform: translateY(-4vh) !important; */
}
.dev-top {
  top: 8vh !important;
  height: 8vh;
  /* transform: translateY(-4vh) !important; */
}
.art-top {
  top: 12vh !important;
  height: 8vh;
  /* transform: translateY(-4vh) !important; */
}
.contact-top {
  top: 16vh !important;
  height: 8vh;
  /* transform: translateY(-4vh) !important; */
}
.tab:hover {
  height: 8vh;
  transform: translateY(-2px);
}

@media (min-width: 425px) {
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}
